on:
  workflow_dispatch:
  push:
    branches:
      - main

name: Run tests for pywrapr

jobs:
  run-tests:
    strategy:
      matrix:
        include:
          - python-version: '3.13'
            platform: 'ubuntu-24.04'
            tox-env: 'unit'

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
          cache: pip

      - name: Install tox
        shell: bash
        run: python -m pip install tox

      - name: Run unit tests
        shell: bash
        run: |
            tox -e ${{ matrix.tox-env }}
